.display-box{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border-radius: 4px;
}

.display-box{
    display: block;
    /* 設定為區塊元素 */
}

.display-inline{
    display: inline;
}

.display-inline-block{
    display: inline-block;
  
}